.dart_tool/
build/
.idea/
*.iml
.flutter-plugins-dependencies

.superpowers/
.worktrees/
.tooling/appdata/
.tooling/localappdata/
.tooling/pub-cache/
.tooling/audio_streamer/**/.gradle/
.tooling/audio_streamer/**/build/
.tooling/audio_streamer/**/local.properties

pubget.err.log
pubget.out.log
pubget_cmd.err
pubget_cmd.out
